@font-face {
    font-family: 'Firago-Regular';
    src: url('/fonts/Firago/FiraGO-Regular.ttf');
}

@font-face {
    font-family: 'Firago-Medium';
    src: url('/fonts/Firago/FiraGO-Medium.ttf');
}

@font-face {
    font-family: 'Firago-Light';
    src: url('/fonts/Firago/FiraGO-Light.ttf');
}

@font-face {
    font-family: 'Firago-Bold';
    src: url('/fonts/Firago/FiraGO-Bold.ttf');
}